{% block content %}
{% from 'icons.html' import chatbot_icon, user_icon %}
<div class="chat_container">
    <div class="bot_message_container d-flex gap-3 mx-auto">
        {{ chatbot_icon(30, 30, "currentColor") }}
        <div class="bot_message border rounded p-3 d-inline-block mb-4">      
            <div>Generate a {{form.material_type_form.material_type_field.data}} formulation</div>
        </div>
    </div>
    <div class="chat_message_container d-flex justify-content-end gap-3 mx-auto">
        <div class="chat_message border rounded p-3 d-inline-block">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex justify-content-end align-items-center gap-2">
                </div>
                <div class="text-end"><button class="formulation_button btn btn-primary" id="formulation_button">Generate Formulation</button></div>
            </div>
        </div>
        {{ user_icon(30, 30, "currentColor") }}
    </div>
</div>
{% endblock %}
