{% block content %}
{% from 'icons.html' import chatbot_icon, user_icon %}
<div class="chat_container">
    <div class="bot_message_container d-flex gap-3 mx-auto">
        {{ chatbot_icon(30, 30, "currentColor")}}
        <div class="bot_message border rounded p-3 d-inline-block mb-4">{{ form.campaign_form.liquids_field.label.text }}</div>
    </div>
    <div class="chat_message_container d-flex justify-content-end gap-3 mx-auto">
        <div class="chat_message border rounded p-3 d-inline-block">
            <div id="liquids_option_container">
                {% for option in form.campaign_form.liquids_field %}
                <div class="d-flex gap-4 justify-content-between">
                    <div>{{ option.label.text }}</div>
                    {% if form.campaign_form.additional_liquid.data %}
                    <input type="checkbox" name="liquid_option" class="liquid_option" value="{{ option.data }}" disabled/>
                    {% else %}
                    <input type="checkbox" name="liquid_option" class="liquid_option" value="{{ option.data }}"{% if form.campaign_form.liquids_field.data %} disabled {% if option.data in form.campaign_form.liquids_field.data %} checked {% endif %} {% endif %}/>
                    {% endif %}
                </div>
                {% endfor %}
                {% if form.campaign_form.additional_liquid.data %}
                <div class="d-flex gap-4 justify-content-between">
                    <div>{{ form.campaign_form.additional_liquid.data }}</div>
                    <input type="checkbox" name="liquid_option" class="liquid_option" value="{{ form.campaign_form.additional_liquid.data }}" checked disabled/>
                </div>
                {% endif %}
            </div>
            <div class="d-flex mt-2 gap-2">
                <button class="btn btn-secondary ms-auto"
                id="additional_liquid_button"
                {% if form.campaign_form.liquids_field.data is not none or form.campaign_form.additional_liquid.data is not none %}
                 disabled
                {% endif %}>
                Add other +
                </button>
                <button class="btn btn-primary" id="submit_liquid_button" disabled>Submit</button>
            </div>
        </div>
    {{ user_icon(30, 30, "currentColor") }}
    </div>
  </div>
{% endblock %}
