{% block content %}
{% from 'icons.html' import chatbot_icon, user_icon %}
<div class="chat_container">
    <div class="bot_message_container d-flex gap-3 mx-auto">
        {{ chatbot_icon(30, 30, "currentColor") }}
        <div class="bot_message border rounded p-3 d-inline-block mb-4">
            <p>{{ form.campaign_form.targ_intro_text }}</p>
            <p>{{ form.campaign_form.targ_process_overview }}</p>
            <ul>
                <li>{{ form.campaign_form.targ_step_one }}</li>
                 <li>{{ form.campaign_form.targ_step_two }}</li>
                <li>{{ form.campaign_form.targ_step_three }}</li>
            </ul>
            <div class = "mb-3">{{ form.campaign_form.standard_design_targets_field.label.text }}</div>
        </div>
    </div>
    <div class="chat_message_container d-flex justify-content-end gap-3 mx-auto">
        <div class="chat_message border rounded p-3 d-inline-block">
            <div id="design_target_options_container" class="design_target_option_container">
                    {% if form.campaign_form.design_targets %}
                        {% for design_target in form.campaign_form.design_targets %}
                            <div class="d-flex gap-4 justify-content-between">
                                {{ design_target.design_target_name_field.data }}
                                <input class="design_target_option" type="checkbox" checked="checked" name="design_target_name" value="{{ design_target.design_target_name_field.data }}" disabled/>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for standard_design_target in form.campaign_form.standard_design_targets_field %}
                            <div class="d-flex gap-4 justify-content-between">
                                {{ standard_design_target.label.text }}
                                {{ standard_design_target(class_="design_target_option") }}
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <div class="d-flex mt-2 gap-3">
                <button class="btn btn-secondary" id="additional_design_targets_button" {% if form.campaign_form.design_targets %}disabled{% endif %}>
                    Add target +
                </button>
                <button class="btn btn-primary" id="design_targets_submit_button" disabled>Submit</button>
            </div>
        </div>  
        {{ user_icon(30, 30, "currentColor") }}             
    </div>
</div>
{% endblock %}
