# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE configuration files 
.idea
*.iml
.vscode/

# Libraries
flask_session
.coverage

# Dependency directories (Cypress)
node_modules/
cypress/videos
cypress/screenshots/
