Flask-Cors==3.0.10
Flask-Session==0.4.0
Flask-WTF==1.0.1
Flask==2.1.2
gunicorn==20.1.0
Jinja2==3.1.2
lolopy==2.0.0
mlxtend==0.21.0
numpy==1.23.2
pandas==1.4.2
plotly==5.10.0
pytest-cov==3.0.0
pytest-mock==3.8.1
pytest==7.1.1
scikit-learn==1.1.2
scipy==1.9.1
WTForms==3.0.1
XlsxWriter==3.0.3
