<!DOCTYPE html>
{% from 'icons.html' import github_icon, bam_icon, book_icon, iteratec_icon -%}

<head>
    <title>SLAMD - Sequential Learning App for Materials Discovery</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
</head>

{% extends 'index.html' %}
{% block content %}
<main class="col-sm-12 col-md-12 col-lg-12 ml-sm-auto px-md-2 py-2 container">
    <!-- Landing page does not contain any forms. In order to make navbar work anyway, manually add CSRF token. -->
    <input type="hidden" id="csrf_token" value="{{ csrf_token() }}" />

    <h3 class="ms-2 mt-3">
        SLAMD - Sequential Learning App for Materials Discovery
    </h3>
    <div class="row g-3 ms-3 mt-1">
        <div class="col-sm-5 col-md-5 col-lg-2 ml-sm-auto px-md-2 px-md-2 py-2">
            <img src="/static/sequential_learning_logo.png" alt="sequential learning logo">
        </div>
        <div class="col-sm-7 col-md-7 col-lg-10 ml-sm-auto px-md-2 px-md-2 py-2">
            <div class="ms-2">
                <h6><b>Leverage the Digital Lab and AI Optimization to discover exciting new concrete
                        recipes</b>
                </h6>
            </div>
            <p class="ms-2">
                > Represent resources and processes and their socio-economic impact.<br>
                > Calculate complex formulations and enrich them with detailed material knowledge.<br>
                > Integrate laboratory data and apply it to novel formulations.<br>
                > Tailor concretes to the purpose to achieve the optimal solution.<br>
            </p>
        </div>
    </div>
    <h4 class="ms-2">
        Workflow
    </h4>
    <div class="row g-2 mb-2">
        <div class="col-sm-6 col-md-6 col-lg-6 ml-sm-auto px-md-2 px-md-2 py-2">
            <div class="clearfix">
                <div class="row g-2 mb-2">
                    <h5 class="ms-2">
                        <b>Digital Lab</b>
                    </h5>
                    <div class="row g-2 mb-2">
                        <div class="col-sm-5 col-md-5 col-lg-3 ml-sm-auto px-md-2 px-md-2 py-2">
                            <img src="/static/base.png" alt="base materials">
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-9 ml-sm-auto px-md-2 px-md-2 py-2">
                            <div class="ms-2">
                                <a class="nav-link link-dark" aria-current="page" href="/materials/base">
                                    1. <u>Base</u>
                                </a>
                            </div>
                            <p class="ms-2">
                                From base materials to manufacturing processes – “Base” enables a detailed and
                                consistent
                                description of existing resources – including key socio-economic metrics.
                            </p>
                        </div>
                    </div>

                    <div class="row g-2 mb-2">
                        <div class="col-sm-5 col-md-5 col-lg-3 ml-sm-auto px-md-2 px-md-2 py-2">
                            <img src="/static/blended.png" alt="blended materials">
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-9 ml-sm-auto px-md-2 px-md-2 py-2">
                            <div class="ms-2">
                                <a class="nav-link link-dark" aria-current="page" href="/materials/blended">
                                    2. <u>Blend</u>
                                </a>
                            </div>
                            <p class="ms-2">
                                The combination of base materials and processes offers an almost infinite optimization
                                potential. “Blending“ makes it easier to design complex configurations.
                            </p>
                        </div>
                    </div>
                    <div class="row g-2 mb-2">
                        <div class="col-sm-5 col-md-5 col-lg-3 ml-sm-auto px-md-2 px-md-2 py-2">
                            <img src="/static/formulations.png" alt="formulations">
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-9 ml-sm-auto px-md-2 px-md-2 py-2">
                            <div class="ms-2">
                                <a class="nav-link link-dark" aria-current="page"
                                    href="/materials/formulations/concrete">
                                    3. <u>Formulations</u>
                                </a>
                            </div>
                            <p class="ms-2">
                                Effortlessly convert your resources into the entire spectrum
                                of possible concrete and binder formulations. This automatically generates a detailed set of data
                                for
                                AI optimization.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 ml-sm-auto px-md-2 px-md-2 py-2">
            <div class="clearfix">
                <div class="row g-2 mb-2">
                    <h5 class="ms-2">
                        <b>AI Optimization</b>
                    </h5>

                    <div class="row g-2 mb-2">
                        <div class="col-sm-5 col-md-5 col-lg-3 ml-sm-auto px-md-2 px-md-2 py-2">
                            <img src="/static/discovery.png" alt="discovery">
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-9 ml-sm-auto px-md-2 px-md-2 py-2">
                            <div class="ms-2">
                                <a class="nav-link link-dark" aria-current="page" href="/materials/discovery">
                                    4. <u>Materials Discovery</u>
                                </a>
                            </div>
                            <p class="ms-2">
                                Integrate data from the “Digital Lab” or upload your own material data. Enrich the data
                                with lab
                                results and adopt the knowledge to new recipes via artificial intelligence. Leverage
                                socio-economic metrics
                                to identify recipes tailored to your requirements.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="ms-2">
        Links
    </h4>
    <div class="d-flex flex-row align-items-end mb-3">
        <a class="btn btn-secondary text-white me-2" href="https://github.com/BAMresearch/WEBSLAMD" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Visit GitHub repository">
            {{ github_icon(20, 20, "currentColor") }} GitHub Repository
        </a>
        <a class="btn btn-danger text-white me-2" href="https://www.bam.de/" target="_blank" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="Visit BAM website">
            {{ bam_icon(20, 20) }} BAM website
        </a>
        <a class="btn btn-primary me-2" href="/static/SLAMD-UserManual.pdf" target="_blank" aria-controls="manual"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Open User Manual">
            {{ book_icon(20, 20, "currentColor") }} User Manual
        </a>
        <a class="btn btn-dark me-2 ms-auto" href="https://www.iteratec.com/" target="_blank" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="Visit iteratec website" style="background-color: black;">
            {{ iteratec_icon(36, 36) }} Powered by iteratec
        </a>
    </div>
</main>
{%endblock%}