<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebar-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebar-label">SLAMD</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li class="slamd_navigation_link">
                <a class="nav-link active" aria-current="page" href="/materials/base">
                    <span class="ml-2">Base materials and processes</span>
                </a>
            </li>
            <li class="slamd_navigation_link">
                <a class="nav-link active" aria-current="page" href="/materials/blended">
                    <span class="ml-2">Blended Materials</span>
                </a>
            </li>

            <li class="slamd_navigation_link">
                <a class="nav-link active" aria-current="page" href="/materials/discovery">
                    <span class="ml-2">Material Discovery</span>
                </a>
            </li>
        </ul>
    </div>
</div>
