<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-sm-2 col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/materials">
                            <span class="ml-2">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
