{% from 'action_buttons.html' import create_change_selection_button -%}

<h3 class="mt-3">Materials formulations</h3>
<form action="" method="post" novalidate>
    {{ materials_and_processes_selection_form.csrf_token }}

    <div class="accordion mb-3" id="accordion-formulations-explanation">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed explanation-header" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                        data-bs-parent="#accordion-discovery-explanation">
                    Show / hide formulations explanation
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body explanation-body" role="tooltip">
                    <p>
                        On this page you can create datasets for use in the discovery page. A dataset is built
                        successively from <b>formulations</b>.
                    </p>
                    <p>
                        You must select at least one powder, liquid, and aggregate for a new formulation. You may
                        additionally select admixtures, custom materials, and processes. Note that only one of each type
                        of material can be part of a formulation at a time. If you choose e.g. two liquids A and B, the
                        formulations will be created once with liquid A and once with liquid B. If you want to use both
                        liquids as ingredients at the same time create a new blended liquid on the Blend page.
                    </p>
                    <p>
                        Next, select a constraint. This is the total amount of material that will make up your
                        formulations, in kilograms. Optionally, you may also enter a name for the final dataset.
                    </p>
                    <p>
                        In the following steps you must choose the ratios of the different materials in your
                        formulation. You can generate these ratios based on constraints, but you may also edit them by
                        hand. Refer to the infoboxes in the sections below for details.
                    </p>
                    <p>
                        Once you have defined the ratios, click the "6 - Create formulations" button to add the new
                        formulations to the dataset. They will show up in a table at the bottom of the page. At this
                        point you have two options:
                    </p>

                    <ul>
                        <li>You may repeat the process to add different formulations to the dataset. Your previous
                            formulations
                            will be kept until you delete or submit them, even if you leave the page.
                        </li>
                        <li>You may submit your dataset. This will write all the formulations from the table into a
                            dataset
                            with the name specified in the beginning. It can then be used on the discovery page.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.powder_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.powder_selection(class_="form-control form-select
            multiple-select-md") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.liquid_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.liquid_selection(class_="form-control form-select
            multiple-select-md") }}
        </div>
    </div>
    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.aggregates_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.aggregates_selection(class_="form-control form-select
            multiple-select-md") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.admixture_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.admixture_selection(class_="form-control form-select
            multiple-select-md") }}
        </div>
    </div>
    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.custom_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.custom_selection(class_="form-control form-select
            multiple-select-md") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.process_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.process_selection(class_="form-control form-select
            multiple-select-md") }}
        </div>
    </div>
    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.weight_constraint.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.weight_constraint(class_="form-control") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.dataset_name.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.dataset_name(class_="form-control") }}
        </div>
    </div>

    {{ create_change_selection_button("4 - Configure weights for each material type",
    "change_materials_and_processes_selection_button",
    "confirm_materials_and_processes_selection_button",
    "Specify at least one powder, one liquid, one aggregate, and a constraint to create materials formulations") }}

    <div id="formulations_min_max_placeholder"></div>

    <div id="formulations_weights_placeholder"></div>

    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            <button class="btn btn-danger col-12 mb-3" type="button" id="delete_formulations_batches_button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" disabled
                    title="Deletes all batches created so far. In case you want to save as a dataset, click on Submit Dataset button.">
                Delete Material Formulation
            </button>
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.submit(class_="btn btn-primary col-12 mb-3",
            data_bs_toggle="tooltip", data_bs_placement="bottom",
            title="Save your created formulation as a dataset to be used for materials discovery. Specify any name but
            'temporary' for the dataset.", disabled=True) }}
        </div>
    </div>

</form>