<nav class="navbar navbar-expand navbar-light bg-transparent position-static">
    <div class="container-fluid">
        <ul class="navbar-nav mb-lg-0 d-flex flex-row">
            <li class="nav-item">
                <a id="nav-bar-formulations-concrete" class="nav-link active" aria-current="page"
                   href="/materials/formulations/concrete">Concrete</a>
            </li>
            <li class="nav-item">
                <a id="nav-bar-formulations-binder" class="nav-link " aria-current="page"
                   href="/materials/formulations/binder">Binder</a>
            </li>
        </ul>
    </div>
</nav>
