{% from 'action_buttons.html' import create_change_selection_button -%}

<h3>Materials formulations</h3>
<form action="" method="post" novalidate>
    {{ materials_and_processes_selection_form.csrf_token }}

    <div class="col-12 rounded mb-3 bg-white" role="tooltip">
        <h3 class="explanation-header">How to create and submit new formulations</h3>
        <div class="explanation-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>

    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.powder_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.powder_selection(class_="form-control form-select") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.liquid_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.liquid_selection(class_="form-control form-select") }}
        </div>
    </div>
    <div class="row g-3 mb-3 align-items-start">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.aggregates_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.aggregates_selection(class_="form-control form-select") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.admixture_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.admixture_selection(class_="form-control form-select") }}
        </div>
    </div>
    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.custom_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.custom_selection(class_="form-control form-select") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.process_selection.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.process_selection(class_="form-control form-select") }}
        </div>
    </div>
    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.weight_constraint.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.weight_constraint(class_="form-control") }}
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.dataset_name.label(class_="control-label") }}
            {{ materials_and_processes_selection_form.dataset_name(class_="form-control") }}
        </div>
    </div>

    {{ create_change_selection_button("4 - Configure weights for each material type",
    "change_materials_and_processes_selection_button",
    "confirm_materials_and_processes_selection_button",
    "Choose at least one powder, a liquid and an aggregate for creating materials formulations") }}

    <div id="formulations_min_max_placeholder"></div>

    <div id="formulations_weights_placeholder"></div>

    <div class="row g-3 mb-3 align-items-end">
        <div class="col-md-6">
            <button class="btn btn-danger col-12 mb-3" type="button" id="delete_formulations_batches_button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Deletes all batches created so far. In case you want to save as a dataset, click on Submit Dataset button.">
                Delete Material Formulation
            </button>
        </div>
        <div class="col-md-6">
            {{ materials_and_processes_selection_form.submit(class_="btn btn-primary col-12 mb-3",
            data_bs_toggle="tooltip", data_bs_placement="bottom",
            title="Save your created formulation as a dataset to be used for materials discovery. Specify any name but
            'temporary' for the dataset.", disabled=True) }}
        </div>
    </div>

</form>