{{ df | safe }}
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Properties</th>
        {% for item in target_list %}
        <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in all_dtos %}
    {% set outer_loop = loop %}
    <tr>
        <td>{{ item.index }}</td>
        {% for target in item.targets %}
        <td>
            <input class="form-control" id="{{'target-' + outer_loop.index|string + '-' + loop.index|string}}"
                   name="targets_field" type="text" value="">
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
