{% from 'errors.html' import with_errors -%}

<span class="border border-light bg-light">
<div>
    In case you want to edit the fields below, follow the pattern number/number/number... N times where N is the number
    of selected materials. For example, in case you selected from 3 base materials a valid entry would be 10/20/70.
    Note that also decimals with up to two decimal places are allowed.
</div>
</span>
<h5>
    Weight Ratios:
    {{ formulations_composition }}
</h5>
<!--Custom weights fields can be dynamically added. This is achieved using the assignAddCustomBlendEvent function in javascript.-->
<!--Note that this assumes a specific structure of the DOM. Therefore keep in mind to update the js function accordingly, if you make changes here.-->
{% for entry in weights_form.all_weights_entries %}
<div class="col-md-3">
    <div class="row g-1">
        <div class="col-md-2">
            <button class="btn btn-danger" id="{{'delete_weight_button___' + entry.idx.data}}" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     viewBox="0 0 16 16">
                    <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </div>
        <div class="col-md-10">
            {{ entry.weights(class_="form-control") }}
        </div>
    </div>
</div>
{% endfor %}
<div id="add_custom_blend_button_wrapper" title="Add additional weights configurations manually">
    <button class="btn btn-secondary col-12" type="button" id="add_custom_blend_button">
        Add weights
    </button>
</div>
