{% from 'icons.html' import delete_icon -%}

<div class="p-1 border rounded bg-light">
    <div>
        All weight combinations corresponding to the above configuration.
        You can still add, delete or edit entries following the correct pattern.
    </div>
</div>
<!--Custom weights fields can be dynamically added. This is achieved using the assignAddCustomBlendEvent function in javascript.-->
<!--Note that this assumes a specific structure of the DOM. Therefore keep in mind to update the js function accordingly, if you make changes here.-->
{% for entry in weights_form.all_weights_entries %}
<div class="col-md-3">
    <div class="row g-1">
        <div class="col-md-2">
            <button class="btn btn-danger" id="{{'delete_weight_button___' + entry.idx.data}}" type="button">
                {{ delete_icon(24, 24, "currentColor") }}
            </button>
        </div>
        <div class="col-md-10">
            {{ entry.weights(class_="form-control") }}
        </div>
    </div>
</div>
{% endfor %}
<button class="btn btn-success col-12" type="button" id="create_formulations_batch_button" data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="A batch of material formulations based on the configuration are created. You can add several to define a dataset and add some targets in the next step.">
    6 - Create material formulations for given configuration
</button>
