{% for a_priori_information in form.a_priori_information_configurations %}
<div class="row g-3 mb-2 form-group justify-content-center align-items-center">
    <div class="col-12 col-md-2 text-center fw-bold">
        {{ a_priori_information.name }}
    </div>
    <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
        {% for radio_option in a_priori_information.max_or_min %}
        <div class="form-check mx-3">
            {{ radio_option(class_="form-check-input") }}
            {{ radio_option.label(class_="form-check-label") }}
        </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-3 d-flex align-items-center">
        {{ a_priori_information.weight.label(class_="control-label mx-2") }}
        {{ a_priori_information.weight(class_="form-control mx-2") }}
    </div>
    <div class="col-12 col-md-3 d-flex align-items-center">
        {{ a_priori_information.threshold.label(class_="control-label mx-2") }}
        {{ a_priori_information.threshold(class_="form-control mx-2", placeholder="Optional") }}
    </div>
</div>
{% endfor %}
