<div class="accordion mb-3" id="accordion-discovery-explanation">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed explanation-header" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                data-bs-parent="#accordion-discovery-explanation">
                Show / hide materials discovery explanation
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
            <div class="accordion-body explanation-body" role="tooltip">
                In this form, you can configure and run machine learning experiments to discover interesting new materials.
                For this purpose, given formulations are sorted according to their utility. The utility is obtained from
                predicted target properties and a priori information.

                To start the discovery, first configure the optimization target:
                <ol>
                    <li>Select a data set to work on from the table above using the blue checkmark buttons.</li>
                    <li>Select the relevant features that define your material formulations (Input) in the left
                        selection box.
                    </li>
                    <li>Select the target properties you want to predict in the center selection box.</li>
                    <li>Select a-priori information  that is relevant to the utility.</li>
                </ol>

                <p>
                    You can use Ctrl+Click or Shift+Click to select multiple properties in each selection box.
                </p>

                Next, configure the specific goals of the materials discovery:
                <ul>
                    <li>For each target property, choose whether to maximize or minimize it. When maximizing,
                        large values are preferred (e.g., for strengths). When minimizing, small and negative
                        values are preferred (e.g., for costs). </li>
                    <li>The weighting determines the factor of importance for each target in the utility assessment.</li>
                    <li>You may specify required properties using the threshold:
                        <ul>
                            <li>In the case of a priori information, formulations that do not meet the criteria, i.e.
                                whose values are outside the threshold, are discarded and thus not considered.</li>
                            <li>
                                For  target properties, the values are clamped to the threshold for the utility estimate.
                                calculation. The predicted values shown in the results table below will remain unchanged.
                            </li>
                        </ul>
                    </li>
                </ul>

                Finally, you may choose a machine learning model, as well as a curiosity value.
                <ul>
                    {% if tuned_models_explanation_active %}
                    <li>
                        There are currently 6
                        machine learning models available: Gaussian Process Regression and Random Forest Regression,
                        their variations that run Principal Component Analysis before and
                        their tuned versions optimized with feature selection and grid search.
                        A statistics-based model can be selected, which is particularly suitable for relatively continuous data and simple data configurations. For instance, this model is particularly suitable at the beginning of an experimental campaign, when only a few laboratory data are available.
                        The AI model is more powerful, but also requires more training data. You can use it for more complex formulations when there is already plenty of training data available (more than approximately twenty samples).

                    </li>
                    {% else %}
                    <li>
                        There are currently 4
                        machine learning models available: Gaussian Process Regression and Random Forest Regression,
                        plus their variations that run Principal Component Analysis before.
                        A statistics-based model can be selected, which is particularly suitable for relatively continuous data and simple data configurations. For instance, this model is particularly suitable at the beginning of an experimental campaign, when only a few laboratory data are available.
                        The AI model is more powerful, but also requires more training data. You can use it for more complex formulations when there is already plenty of training data available (more than approximately twenty samples).

                    </li>
                    {% endif %}
                    <li>
                        The Gauss Process Regressor requires the targets to have at least one label.
                        The Random Forest Regressor requires the targets to have at least 2 labels.
                    </li>
                    {% if tuned_models_explanation_active %}
                    <li>
                        In case you select the tuned versions of the algorithms, please be patient as the algorithms
                        might run for a couple of seconds. Note that the tuned versions require the targets to have at
                        least 4 labels. The tuned versions only support one target column for the time being.
                    </li>
                    {% endif %}
                    <li>
                        The curiosity value determines the factor by which the as-yet uncertain material predictions are
                        preferred. Preferring uncertain predictions can help to systematically gain knowledge.
                        At the beginning of an experimental campaign, you may increase the curiosity value to explore formulations.
                        Use smaller or negative curiosity if you think you have identified a desirable area of the
                        formulation space and want to refine ("exploit") your results by finding a nearby optimum. If you are not sure,
                        leave the value unchanged. You can read more information in the manual.
                        <ul>
                            <li>
                                When curiosity is greater than 0, predictions with greater uncertainties are favored (explore).
                            </li>

                            <li>
                                If the curiosity is negative the uncertainty is subtracted instead, providing a
                                penalty to materials with high uncertainties. This favors predictions with low uncertainty (exploit).
                            </li>
                        </ul>


                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<form action="" method="post" novalidate>
    <div class="row g-3 mb-3 align-items-end">
        <div class="col-12 col-md-4">
            {{ discovery_form.materials_data_input.label(class_="control-label") }}
            {{ discovery_form.materials_data_input(class_="form-control form-select multiple-select-lg") }}
        </div>
        <div class="col-12 col-md-4">
            {{ discovery_form.target_properties.label(class_="control-label") }}
            {{ discovery_form.target_properties(class_="form-control form-select multiple-select-lg") }}
        </div>
        <div class="col-12 col-md-4">
            {{ discovery_form.a_priori_information.label(class_="control-label") }}
            {{ discovery_form.a_priori_information(class_="form-control form-select multiple-select-lg") }}
        </div>
    </div>
    <div id="target-configuration-form-placeholder"></div>
    <div id="a-priori-information-configuration-form-placeholder"></div>
    <div class="row g-3 mb-3">
        <div class="col-12 col-md-6">
            {{ discovery_form.model.label(class_="control-label") }}
            {{ discovery_form.model(class_="form-control form-select") }}
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12">
                {{ discovery_form.curiosity.label(class_="control-label") }}
                {{ discovery_form.curiosity(class_="form-range", min=-1, max=5, oninput="updateCuriosityValue(value)")
                }}
            </div>
            <div class="row">
                <div class="col-4">Exploit</div>
                <div class="col-4" style="text-align: center">
                    <output for="curiosity" id="selected-range">{{ discovery_form.curiosity.data }}</output>
                </div>
                <div class="col-4" style="text-align: right">Explore</div>
            </div>
        </div>
    </div>
    <button id="run-experiment-button" class="btn btn-success col-12 mb-3" type="button" data-bs-toggle="tooltip"
        data_bs_placement="bottom" title="Select at least a target and whether it should be maximized or minimized"
        disabled>
        Run experiment with given configuration
    </button>
</form>

