<!DOCTYPE html>

<head>
    <title>SLAMD - Materials Discovery</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
</head>

{% extends 'index.html' %}
{% block content %}
<main class="col-sm-12 col-md-12 col-lg-12 ml-sm-auto px-md-2 px-md-2 py-2">
    <h3>Material Discovery</h3>
    {% include 'upload_dataset_form.html' %}
    {% include 'datasets_table_container.html' %}
    {% include 'discovery_form.html' %}
    <div id="experiment-result-placeholder"></div>
</main>
<script src="{{url_for('discovery.static', filename='discovery.js')}}"></script>
{%endblock%}