{% from 'icons.html' import add_icon -%}

<div class="accordion">
    <div class="accordion-item">
        <h3 class="accordion-header" id="accordionFormulationsTable-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionFormulationsTable-collapseOne" aria-expanded="true"
                    aria-controls="accordionFormulationsTable-collapseOne">
                Show / hide dataset
            </button>
        </h3>
        <div id="accordionFormulationsTable-collapseOne"
             class="accordion-collapse collapse show table-responsive topscroll-table-container"
             aria-labelledby="accordionFormulationsTable-headingOne">
            {{ dataset | safe }}
        </div>
    </div>
</div>


<br>

<div class="col-12 rounded bg-white" role="tooltip">
    <h3 class="explanation-header">How to extend the dataset?</h3>
    <div class="explanation-body">
        To generate a new sample, select one to many features, set the min/max values, and specify the number of samples.
         Remember to also select the target feature. Note: resampling will not affect the target feature.
    </div>
</div>


{% if get_flashed_messages() %}
<div class="alert alert-warning" role="alert">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}


<form method="post" action="{{ url_for('discovery.extend_dataset_sample', dataset_name=dataset_name) }}">
         {{ form1.csrf_token }}
<div class="row g-3 mb-3">
    <div class="col-6">
        {{ form1.select_columns.label(class_="control-label") }}
        {{ form1.select_columns(class_="form-control form-select multiple-select-lg") }}
    </div>

    <div class="col-6">
        {{ form1.target_columns.label(class_="control-label") }}
        {{ form1.target_columns(class_="form-control form-select multiple-select-lg") }}
    </div>
 </div>

<div class="min-max-container">
 <div class="row g-3 mb-3 align-items-end">
        <div id="min_value" class="col-6">
            {{ form1.min_value.label(class_="control-label") }}
            {{ form1.min_value(class_="form-control") }}
        </div>
        <div id="max_value" class="col-6">
            {{ form1.max_value.label(class_="control-label") }}
            {{ form1.max_value(class_="form-control") }}
        </div>
    </div>
</div>

<div class="col-12">
    {{ form1.num_samples.label(class_="control-label") }}
    {{ form1.num_samples(class_="form-control") }}
</div>

<br>

{{ form1.submit(class_="btn btn-success col-12", data_bs_toggle="tooltip", data_bs_placement="bottom",
title="Click to generate your samples")
}}
</form>
<br>
<form method="post" action="{{ url_for('discovery.submit_resample', dataset_name=dataset_name) }}">
    <input type="hidden" name="dataset" value="{{ raw_df.to_json(orient='split') }}">
    {{ form2.csrf_token }}
    {{ form2.submit(class_="btn btn-primary col-12", data_bs_toggle="tooltip", data_bs_placement="bottom",
    title="Click to generate your samples")
}}
</form>



<script src="{{url_for('discovery.static', filename='extend.js')}}"></script>



<div class="accordion">
    <div class="accordion-item">
        <h3 class="accordion-header" id="resampled_output">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#resampled_output" aria-expanded="true"
                    aria-controls="resampled_output">
                Show / hide resampled dataset
            </button>
        </h3>
        <div id="resampled_output"
             class="accordion-collapse collapse show table-responsive topscroll-table-container"
             aria-labelledby="resampled_output">
            {{ dataset | safe }}
        </div>
    </div>
</div>