{% for target in form.target_configurations %}
<div class="row g-3 mb-2 form-group justify-content-center align-items-center">
    <div class="col-12 col-md-2 text-center fw-bold">
        {{ target.name }}
    </div>
    <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
        {% for radio_option in target.max_or_min %}
        <div class="form-check mx-3">
            {{ radio_option(class_="form-check-input") }}
            {{ radio_option.label(class_="form-check-label") }}
        </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-3 d-flex align-items-center">
        {{ target.weight.label(class_="control-label mx-2") }}
        {{ target.weight(class_="form-control mx-2") }}
    </div>
    <div class="col-12 col-md-3 d-flex align-items-center">
        {{ target.threshold.label(class_="control-label mx-2") }}
        {{ target.threshold(class_="form-control mx-2", placeholder="Optional") }}
    </div>
</div>
{% endfor %}
