<div class="row g-3 mb-3">
    <div class="col-12">
        {{ form.choose_target_field.label(class_="control-label") }}
        {{ form.choose_target_field(class_="form-control form-select") }}
    </div>
</div>
<div id="dataframe-container" class="table-responsive" style="display: none;">
    {{ df | safe }}
</div>
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <p>2 - Specify target values</p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Formulation Index</th>
                    <th>Feature Summary</th>
                    {% for item in target_list %}
                    <th>{{ item }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in all_dtos %}
                {% set outer_loop = loop %}
                <tr>
                    <td>{{ item.index }}</td>
                    <td>{{ item.preview_of_data }}</td>
                    {% for target in item.targets %}
                    {% if target.index == item.index %}
                    <td>
                        <input class="form-control"
                            id="{{'target-' + outer_loop.index|string + '-' + loop.index|string}}"
                            name="{{'target-' + outer_loop.index|string + '-' + loop.index|string}}" type="number"
                            value="{{ target.value if target.value is not none }}">
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ form.submit(class_="btn btn-primary col-12", data_bs_toggle="tooltip", data_bs_placement="bottom",
    title="Save your targets.")
    }}
</form>