{% from 'icons.html' import add_icon -%}

<!DOCTYPE html>

<head>
    <title>SLAMD - Materials Discovery</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{url_for('discovery.static', filename='discovery.css')}}">
</head>

{% extends 'index.html' %}
{% block content %}
<main class="col-sm-12 col-md-12 col-lg-12 ml-sm-auto px-md-2 px-md-2 py-2">
    <h3 id="dataset_to_add_targets_to">{{ dataset_name }}</h3>
    <div class="row g-3 mb-3 align-items-end">
        <div class="col-sm-12 col-lg-8">
            {{ form.target_value.label(class_="control-label") }}
            {{ form.target_value(class_="form-control", placeholder="Cannot be empty") }}
        </div>
        <div class="btn-group col-12 col-lg-4" role="group" aria-label="Basic example">
            <button class="btn btn-primary" type="button" id="add_target_button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add a new target column to your material formulation. Make sure not to use a
                    name which is already present." disabled>
                {{ add_icon(24, 24, "currentColor") }} Add target
            </button>
            <button class="btn btn-secondary" type="button" id="toggle_dataframe_button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Hide / Show the dataframe below.">
                Show / Hide
            </button>
        </div>
    </div>
    <div id="targets-placeholder">
        {% include 'targets_form.html' %}
    </div>
</main>
<script src="{{url_for('discovery.static', filename='targets.js')}}"></script>
{%endblock%}