{% block content %}
    {% from 'icons.html' import chatbot_icon %}
    <div class="col d-flex gap-3">
        {{ chatbot_icon(30, 30, "currentColor") }}
        <div class="chat_message_container">
            <div class="fw-bold mt-1 mb-2">Design Assistant</div>
            <div class="chat_message border rounded p-2 d-inline-block">
                <div id="design_target_options_container">
                    <div>Please add values for each of the selected design targets and specify whether you want to maximize or minimze them.</div>
                    <div class="design_target_option_container d-flex flex-column justify-content-between mt-3">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            {% for design_target in campaign_form.design_targets %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link{% if loop.index == 1 %} active {% endif %} design_target_name" id="pills-{{ design_target.design_target_name_field.data }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ design_target.design_target_name_field.data }}" type="button" role="tab" aria-controls="pills-{{ design_target.design_target_name_field.data }}" aria-selected="false">{{ design_target.design_target_name_field.data }}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            {% for design_target in campaign_form.design_targets %}
                                <div class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}" id="pills-{{ design_target.design_target_name_field.data }}" role="tabpanel" aria-labelledby="pills-{{ design_target.design_target_name_field.data }}-tab">
                                    <div class="d-flex flex-column gap-2">
                                        <div class="d-flex justify-content-between">
                                            <div>{{ design_target.design_target_value_field.label.text }}</div>
                                            {% if design_target.design_target_value_field.data %}
                                            <input class="design_target_value" value="{{ design_target.design_target_value_field.data }}" name="design_target_value" disabled/>
                                            {% else %}
                                            <input class="design_target_value" placeholder="e.g. 100 EUR/KG" name="design_target_value"/>
                                            {% endif %}
                                        </div>
                                    <div class="d-flex justify-content-between">
                                            <div>{{ design_target.design_target_optimization_field.label.text }}</div>
                                            {% if design_target.design_target_value_field.data %}
                                            <select class="w-auto form-select ml-auto design_target_optimization_select" aria-label="Select optimization" name="design_target_optimization_select" disabled>
                                            <option value="{{ design_target.design_target_optimization_field.data }}">{{ design_target.design_target_optimization_field.data}}</option>
                                            {% else %}
                                            <select class="w-auto form-select ml-auto design_target_optimization_select" aria-label="Select optimization" name="design_target_optimization_select">
                                            {% endif %}
                                            {% for value, label in design_target.design_target_optimization_field.choices %}
                                            <option value="{{value}}" class="design_target_optimization" name="design_target_optimization">{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-2 gap-2">
                    <button class="btn btn-primary" id="design_targets_values_submit_button" {% if campaign_form.design_targets %}
                            {% if campaign_form.design_targets[0].design_target_value_field.data %} disabled {% endif %}{% endif %}>Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
