{% block content %}
    {% from 'icons.html' import chatbot_icon %}
    <div class="col d-flex gap-3">
        {{ chatbot_icon(30, 30, "currentColor") }}
        <div class="chat_message_container">
            <div class="chat_message border rounded p-2 d-inline-block">
                <div id="other_option_container">
                    <div class="mb-3">{{ campaign_form.other_field.label.text }}</div>
                    {% for option in  campaign_form.other_field %}
                        <div class="d-flex gap-2">
                            <input
                                    type="radio"
                                    name="other_option"
                                    class="other_option"
                                    value="{{ option.data }}"
                                    {% if campaign_form.other_field.data is not none %}
                                    disabled
                                    {% endif %}
                                    {% if option.checked %}
                                    checked
                                    {% endif %}/>
                            <div>{{ option.label.text }}</div>
                        </div>
                    {% endfor %}
                    {% if  campaign_form.additional_other.data %}
                    <div class="d-flex gap-2">
                        <input
                                type="radio"
                                name="other_option"
                                class="other_option"
                                value="{{ campaign_form.additional_other.data }}"
                                checked
                                disabled/>
                        <div>{{ campaign_form.additional_other.data }}</div>
                    </div>
                    {% endif %}
                </div>
                <div class="d-flex mt-2 gap-2">
                    <button class="btn btn-secondary"
                            id="additional_other_button"
                            {% if campaign_form.other_field.data is not none or campaign_form.additional_other.data %}
                            disabled
                            {% endif %}>
                        Add other +
                    </button>
                    <button class="btn btn-primary" id="submit_other_button"
                            {% if campaign_form.other_field.data or campaign_form.additional_other.data %}
                            disabled
                            {% endif %}>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
              