{% block content %}
<div class="col">
  <div class="border rounded p-2 d-inline-block">
    {{ campaign_form.material_type_field.label }} {% for subfield in
    campaign_form.material_type_field %}
    <div>
      <input
        type="radio"
        id="{{ subfield.id }}"
        name="{{ subfield.name }}"
        value="{{ subfield.data }}"
      {% if subfield.data == campaign_form.material_type_field.data
      %}checked {% endif %} {% if campaign_form.material_type_field.data %} disabled {% endif
      %}/>
      <label for="{{ subfield.id }}">{{ subfield.label.text }}</label>
    </div>

    {% endfor %} 
  </div>
</div>
{% endblock %}
