{% block content %}
<div class="col">
  <div class="border rounded p-2 d-inline-block">
    <div>{{ campaign_form.select_powders_field.label}}</div>
    <div>
      {% for option in campaign_form.select_powders_field %}
      <div>
        {% if campaign_form.select_powders_field.data %}
        {{option(class_="powder_option", disabled='disabled') }} {% else %}
        {{option(class_="powder_option") }} {% endif %}{{ option.label.text }}
      </div>
      {% endfor %}
      <div>{{ campaign_form.blend_powders_field.label}}</div>
      {% for option in campaign_form.blend_powders_field %} {% if
      campaign_form.blend_powders_field.data == option.data %} {{
      option(class='blend_powder_option', checked='true', disabled='disabled',
      value="{{ option.data }}") }} {% else %} {{
      option(class='blend_powder_option', disabled='disabled') }} {% endif %} {{
      option.label}} {% endfor %}
    </div>
    <button id="powders_submit_button" disabled>Save</button>
    {% endblock %}
  </div>
</div>
