{% block content %}
    {% from 'icons.html' import chatbot_icon %}
    <div class="col d-flex gap-3">
        {{ chatbot_icon(30, 30, "currentColor") }}
        <div class="chat_message_container">
            <div class="chat_message border rounded p-2 d-inline-block">
                <div>
                    <div class="mb-3">{{ campaign_form.comment_field.label.text }}</div>
                    <div>
                        <textarea class="form-control mb-2" placeholder="Consider addtionally that..." id="comment"{% if campaign_form.comment_field.data is not none %}disabled{% endif %}>{% if campaign_form.comment_field.data is not none %}{{ campaign_form.comment_field.data }}{% endif %}</textarea>
                    </div>
                </div>
                <button class="btn btn-primary" id="submit_comment_button"{% if campaign_form.comment_field.data is not none%}disabled{% endif %}>
                    Save
                </button>
            </div>
        </div>
    </div>
{% endblock %}
