{% block content %}
    {% from 'icons.html' import chatbot_icon %}
    <div class="col d-flex gap-3">
        {{ chatbot_icon(30, 30, "currentColor") }}
        <div id="knowledge_chat_message_container" class="chat_message_container">
            <div class="chat_message border rounded p-2 d-inline-block">
                <div class="mb-3">Alright, let's generate the design knowledge! If you are not satisfied with the result, you may generate it again.</div>
                <div id="design_knowledge_inner_container" class="mb-3">
                    <textarea id="design_knowledge" class="form-control {% if campaign_form.design_knowledge_field.data is none %} d-none {% endif %}" style="min-height: 300px; overflow: scroll;" {% if campaign_form.design_knowledge_field.data %} disabled {% endif %}>{{ campaign_form.design_knowledge_field.data }}</textarea>
                </div>
                <button class="btn btn-primary" id="generate_design_knowledge_button"{% if campaign_form.formulation_field.data %} disabled {% endif %} >
                    Generate Knowledge
                </button>
                <button class="btn btn-success" id="generate_formulation_button"{% if campaign_form.formulation_field.data %} disabled {% endif %} >
                    Generate Formulation
                </button>
            </div>
        </div>
    </div>
{% endblock %}