{% block content %}
    {% from 'icons.html' import chatbot_icon, user_icon %}
    <div class="chat_container">
        <div class="bot_message_container d-flex gap-3 mx-auto">
            {{ chatbot_icon(30, 30, "currentColor") }}
            <div class="bot_message border rounded p-3 d-inline-block mb-4">
                {{ form.campaign_form.formulation_field.label.text }}
                <div id="formulation" class="form-control mt-3">{% if form.campaign_form.formulation_field.data %} {{ form.campaign_form.formulation_field.data }} {% else %} {{ formulation }} {% endif %} </div>
            </div>
        </div>
        <div id="formulation_chat_message_container" class="chat_message_container d-flex justify-content-end gap-3 mx-auto">
            <div class="chat_message border rounded p-3 d-inline-block">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" id="save_formulation_button" {% if form.campaign_form.formulation_field.data %} disabled {% endif %}>Save Formulation</button>
                </div>
                <div id="formulation_saved_message" class="alert alert-success d-none align-items-center mt-3" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></symbol>
                    </svg>
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <div>The formulation was saved! Download it using the Save Session button at the top.</div>
                </div>
            </div>
            {{ user_icon(30, 30, "currentColor") }}
        </div>
    </div>
{% endblock %}