{% block content %}
<div class="col">
  <div class="border rounded p-2 d-inline-block" id="import_choices">
    {{ import_form.import_selection_field.label }} {% for option in
    import_form.import_selection_field %}
    <div>
      <input class="import_selection_option" value="{{option.data}}"
      type="radio" {% if option.data == import_form.import_selection_field.data
      %}checked {% endif %} {% if import_form.import_selection_field.data %}
      disabled {% endif %}/>
      <label for="{{ option.id }}">{{ option.label.text }}</label>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
