{% block content %}
    {% from 'icons.html' import chatbot_icon %}
    <div class="col d-flex gap-3">
        {{ chatbot_icon(30, 30, "currentColor") }}
        <div id="knowledge_chat_message_container" class="chat_message_container">
            <div class="chat_message border rounded p-2 d-inline-block">
                <div class="mb-3">Alright, let's generate the final prompt for our Zero Shot Learner!</div>
                <div class="mb-3">
                    <div id="prompt_inner_container" class="form-control d-none" style="max-height: 300px; overflow: scroll;">{{ zero_shot_learner_prompt }}</div>
                    </div>
                <button class="btn btn-primary" id="generate_prompt_button" >
                    Generate Prompt
                </button>
                <button class="btn btn-success" id="continue_prompt_button">
                    Continue
                </button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}