<div class="row g-3 mb-3 align-items-end" id="{{ 'additional-properties-'+index+'-row' }}">
    <div class="col-md-5">
        <label class="control-label" for="{{ 'additional-properties-'+index+'-name' }}">Name</label>
        <input class="form-control" id="{{ 'additional-properties-'+index+'-name'  }}"
            name="{{ 'additional-properties-'+index+'-name' }}" type="text" value="">
    </div>
    <div class="col-md-5">
        <label class="control-label" for="{{ 'additional-properties-'+index+'-value' }}">Value</label>
        <input class="form-control" id="{{ 'additional-properties-'+index+'-value' }}"
            name="{{ 'additional-properties-'+index+'-value' }}" type="text" value="">
    </div>
    <div class="col-md-2">
        <button class="btn btn-danger" id="{{ 'additional-properties-'+index+'-delete' }}" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
        </button>
    </div>
</div>