<div class="row g-3">
    <div class="col-md-3">
        {{ form.fine_aggregates.label(class_="control-label") }}
        {{ form.fine_aggregates(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.coarse_aggregates.label(class_="control-label") }}
        {{ form.coarse_aggregates(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.fa_density.label(class_="control-label") }}
        {{ form.fa_density(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.ca_density.label(class_="control-label") }}
        {{ form.ca_density(class_="form-control") }}
    </div>
</div>