<div class="row g-3">
    <div class="col-md-3">
        {{ form.fine_aggregates.label(class_="control-label") }}
        {{ form.fine_aggregates(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.coarse_aggregates.label(class_="control-label") }}
        {{ form.coarse_aggregates(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.specific_density.label(class_="control-label") }}
        {{ form.specific_density(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.bulk_density.label(class_="control-label") }}
        {{ form.bulk_density(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.fineness_modulus.label(class_="control-label") }}
        {{ form.fineness_modulus(class_="form-control") }}
    </div>
</div>