<div class="row g-3 align-items-end">
    <div class="col-md-3">
        {{ form.fine_aggregates.label(class_="control-label") }}
        {{ form.fine_aggregates(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.coarse_aggregates.label(class_="control-label") }}
        {{ form.coarse_aggregates(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.fineness_modulus.label(class_="control-label") }}
        {{ form.fineness_modulus(class_="form-control") }}
    </div>
    <div class="col-md-3">
        {{ form.water_absorption.label(class_="control-label") }}
        {{ form.water_absorption(class_="form-control") }}
    </div>
</div>