{{ base_materials_form.hidden_tag() }}
{% from 'errors.html' import with_errors -%}

<div class="form-horizontal">
    <div class="form-group">
        {{ base_materials_form.material_name.label(class_="control-label col-sm-2") }}
        {{ base_materials_form.material_name(class_="col-sm-10") }}
        {{ with_errors(base_materials_form.material_name) }}
    </div>
    <div class="form-group">
        {{ base_materials_form.material_type.label(class_="control-label col-sm-2") }}
        {{ base_materials_form.material_type(class_="col-sm-10") }}
    </div>
    <div id="template-placeholder">
        {% include 'powder_form.html' %}
    </div>
    <div class="additional-properties form-group">
        <h5>Additional Properties - Leave empty if not needed.</h5>

        {% for property in base_materials_form.additional_properties %}
        {{ property.form.hidden_tag() }}
        <div class="form-group">
            {{ property.form.name.label(class_="control-label col-sm-2") }}
            {{ property.form.name(class_="col-sm-10") }}
        </div>
        <div class="form-group">
            {{ property.form.value.label(class_="control-label col-sm-2") }}
            {{ property.form.value(class_="col-sm-10") }} <br />
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ base_materials_form.add_property_button }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ base_materials_form.submit }}
        </div>
    </div>
</div>