{% from 'delete_button.html' import create_delete_button -%}

<table style="width:100%">
  <tr>
    <td>Actions</td>
    <td>Name</td>
    <td>Type</td>
    <td>Further information</td>
  </tr>
  {% for item in all_materials %}
  <tr>
    <td>
      {{ create_delete_button(delete_base_material_button, 12, 12) }}
      {{ create_delete_button(edit_base_material_button, 12, 12) }}
    </td>
    <td>{{ item.name }}</td>
    <td>{{ item.type }}</td>
    <td>further information</td>
  </tr>
  {% endfor %}
</table>
