{{ form.hidden_tag() }}
{% from 'errors.html' import with_errors -%}

<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <div class="form-horizontal">
        <div class="form-group mb-3">
            {{ form.material_name.label(class_="control-label col-sm-2") }}
            {{ form.material_name(class_="form-control col-sm-10") }}
            {{ with_errors(form.material_name) }}
        </div>
        <div class="form-group mb-3">
            {{ form.material_type.label(class_="control-label col-sm-2") }}
            {{ form.material_type(class_="form-control col-sm-10") }}
        </div>
        <h3>Costs properties</h3>
            <div class="form-horizontal">
                <div class="form-group mb-3">
                    {{ form.co2_footprint.label(class_="control-label col-sm-2") }}
                    {{ form.co2_footprint(class_="form-control col-sm-10") }}
                </div>
                <div class="form-group mb-3">
                    {{ form.costs.label(class_="control-label col-sm-2") }}
                    {{ form.costs(class_="form-control col-sm-10") }}
                </div>
                <div class="form-group mb-3">
                    {{ form.delivery_time.label(class_="control-label col-sm-2") }}
                    {{ form.delivery_time(class_="form-control col-sm-10") }}
                </div>
            </div>
            <div id="template-placeholder">
                {% include 'powder_form.html' %}
            </div>
            <div class="additional-properties form-group mb-3">
                <h5>Additional Properties - Leave empty if not needed.</h5>

                <div id="additional-properties-placeholder"></div>

                <div class="form-group mb-3">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-secondary" type="button" id="add_property_button">
                            Add property
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </div>
    </div>
</form>
