{% from 'action_buttons.html' import create_change_selection_button -%}

<h3>Blended base materials</h3>
<form class="row g-3" action="" method="post" novalidate>
    {{ blending_name_and_type_form.csrf_token }}
    <div class="col-md-6">
        {{ blending_name_and_type_form.blended_material_name.label(class_="control-label") }}
        {{ blending_name_and_type_form.blended_material_name(class_="form-control", placeholder="Cannot be empty") }}
    </div>
    <div class="col-md-6">
        {{ blending_name_and_type_form.base_type.label(class_="control-label") }}
        {{ blending_name_and_type_form.base_type(class_="form-control form-select") }}
    </div>

    <div id="base-material-selection-placeholder" class="row g-3 mb-3 align-items-end">
        {% include 'base_material_selection.html' %}
    </div>

    {{ create_change_selection_button("change-base-material-selection-button",
    "confirm_base_material_selection_button",
    "Select at least two base materials") }}

    <div class="justify-content-center">
        <div id="min-max-placeholder" class="row g-3 mb-3 align-items-end w-95"></div>
    </div>

    <div class="justify-content-center">
        <div id="blending-ratio-placeholder" class="row g-3 mb-3 align-items-end w-95"></div>
    </div>

    <div class="form-group mb-12">
        <div class="col-sm-offset-2 col-sm-12" id="submit-bracket" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="For enabling submission please specify a name and configure a valid configuration.">
            {{ blending_name_and_type_form.submit(class_="btn btn-primary col-12", data_bs_toggle="modal",
            data_bs_target="#submit-blending-modal", disabled=True) }}
        </div>
    </div>

    <div class="modal fade" id="submit-blending-modal" tabindex="-1" aria-labelledby="submit-blending-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submit-blending-modal-label">Created blended materials</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</form>