<div class="row g-3 mb-3 compositional">
    <h5>Molecular composition</h5>
    <div class="col-md-2">
        {{ form.feo.label(class_="control-label") }}
        {{ form.feo(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.sio.label(class_="control-label") }}
        {{ form.sio(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.alo.label(class_="control-label") }}
        {{ form.alo(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.cao.label(class_="control-label") }}
        {{ form.cao(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.mgo.label(class_="control-label") }}
        {{ form.mgo(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.nao.label(class_="control-label") }}
        {{ form.nao(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.alo.label(class_="control-label") }}
        {{ form.alo(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.ko.label(class_="control-label") }}
        {{ form.ko(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.so.label(class_="control-label") }}
        {{ form.so(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.po.label(class_="control-label") }}
        {{ form.po(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.tio.label(class_="control-label") }}
        {{ form.tio(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.sro.label(class_="control-label") }}
        {{ form.sro(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.mno.label(class_="control-label") }}
        {{ form.mno(class_="form-control") }}
    </div>
</div>

<div class="row g-3 mb-3 structural">
    <h5>Structural composition</h5>
    <div class="col-md-6">
        {{ form.fine.label(class_="control-label") }}
        {{ form.fine(class_="form-control") }}
    </div>
    <div class="col-md-6">
        {{ form.gravity.label(class_="control-label") }}
        {{ form.gravity(class_="form-control") }}
    </div>
</div>
