<div class="row g-3 align-items-end">
    <div class="col-md-2">
        {{ form.na2_si_o3.label(class_="control-label") }}
        {{ form.na2_si_o3(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na2_si_o3_mol.label(class_="control-label") }}
        {{ form.na2_si_o3_mol(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na_o_h.label(class_="control-label") }}
        {{ form.na_o_h(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na_o_h_mol.label(class_="control-label") }}
        {{ form.na_o_h_mol(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na2_o.label(class_="control-label") }}
        {{ form.na2_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na2_o_mol.label(class_="control-label") }}
        {{ form.na2_o_mol(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.si_o2.label(class_="control-label") }}
        {{ form.si_o2(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.si_o2_mol.label(class_="control-label") }}
        {{ form.si_o2_mol(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.h2_o.label(class_="control-label") }}
        {{ form.h2_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.h2_o_mol.label(class_="control-label") }}
        {{ form.h2_o_mol(class_="form-control") }}
    </div>
</div>