<div class="row g-3 compositional">
    <div class="col-md-2">
        {{ form.na2_si_o3.label(class_="control-label") }}
        {{ form.na2_si_o3(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na_o_h.label(class_="control-label") }}
        {{ form.na_o_h(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na2_si_o3_specific.label(class_="control-label") }}
        {{ form.na2_si_o3_specific(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na_o_h_specific.label(class_="control-label") }}
        {{ form.na_o_h_specific(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.total.label(class_="control-label") }}
        {{ form.total(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na2_o.label(class_="control-label") }}
        {{ form.na2_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.si_o2.label(class_="control-label") }}
        {{ form.si_o2(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.h2_o.label(class_="control-label") }}
        {{ form.h2_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na2_o_dry.label(class_="control-label") }}
        {{ form.na2_o_dry(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.si_o2_dry.label(class_="control-label") }}
        {{ form.si_o2_dry(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.water.label(class_="control-label") }}
        {{ form.water(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na_o_h_total.label(class_="control-label") }}
        {{ form.na_o_h_total(class_="form-control") }}
    </div>
</div>