<div class="form-horizontal compositional" >
    <div class="form-group mb-3">
        {{ form.nasio.label(class_="control-label col-sm-2") }}
        {{ form.nasio(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.naoh.label(class_="control-label col-sm-2") }}
        {{ form.naoh(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.nasio_specific.label(class_="control-label col-sm-2") }}
        {{ form.nasio_specific(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.naoh_specific.label(class_="control-label col-sm-2") }}
        {{ form.naoh_specific(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.total.label(class_="control-label col-sm-2") }}
        {{ form.total(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.nao.label(class_="control-label col-sm-2") }}
        {{ form.nao(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.sio.label(class_="control-label col-sm-2") }}
        {{ form.sio(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.ho.label(class_="control-label col-sm-2") }}
        {{ form.ho(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.nao_dry.label(class_="control-label col-sm-2") }}
        {{ form.nao_dry(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.sio_dry.label(class_="control-label col-sm-2") }}
        {{ form.sio_dry(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.water.label(class_="control-label col-sm-2") }}
        {{ form.nao_dry(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.naoh_total.label(class_="control-label col-sm-2") }}
        {{ form.naoh_total(class_="form-control col-sm-10") }}
    </div>
</div>