{% from 'icons.html' import add_icon, delete_icon -%}


<div class="accordion accordion" id="accordion-materials-form">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                3 - Cost
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
            <div class="accordion-body">
                <div class="row g-3 align-items-end">
                    <div class="col-md-4">
                        {{ form.co2_footprint.label(class_="control-label") }}
                        {{ form.co2_footprint(class_="form-control") }}
                    </div>
                    <div class="col-md-4">
                        {{ form.costs.label(class_="control-label") }}
                        {{ form.costs(class_="form-control") }}
                    </div>
                    <div class="col-md-4">
                        {{ form.delivery_time.label(class_="control-label") }}
                        {{ form.delivery_time(class_="form-control") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if form.material_type.data != 'Custom' and form.material_type.data != 'Admixture' %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                {% if form.material_type.data != 'Process' %}
                4 - Composition
                {% else %}
                4 - Process Information
                {% endif %}
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
            <div class="accordion-body">
                {% if form.material_type.data == 'Powder' %}
                {% include 'powder_form.html' %}
                {% elif form.material_type.data == 'Liquid' %}
                {% include 'liquid_form.html' %}
                {% elif form.material_type.data == 'Aggregates' %}
                {% include 'aggregates_form.html' %}
                {% elif form.material_type.data == 'Process' %}
                {% include 'process_form.html' %}
                {% else %}
                {% include 'powder_form.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                {% if form.material_type.data != 'Custom' and form.material_type.data != 'Admixture' %}
                5 - Additional Properties - Leave empty if not needed.
                {% else %}
                4 - Additional Properties - Leave empty if not needed.
                {% endif %}
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
            <div class="accordion-body">
                <div class="col-md-12 rounded bg-white" role="tooltip">
                    <h3 class="explanation-header">Here you can add custom properties</h3>
                    <div class="explanation-body">
                        Note that for sequential learning,
                        values which correspond to any number will be interpreted as continuous variables.
                        To add a categorical variable, use a string which is not a number.
                        Names for additional properties must be unique.
                    </div>
                </div>
                <div class="mt-4">
                    <div id="additional-properties-placeholder">
                        {% if form.additional_properties is defined %}
                        {% include 'additional_property_form.html' %}
                        {% endif %}
                    </div>

                    <button class="btn btn-secondary" type="button" id="add-property-button">
                        {{ add_icon(24, 24, "currentColor") }}
                        Add property
                    </button>
                    <button class="btn btn-danger" id="delete-property-button" type="button">
                        {{ delete_icon(24, 24, "currentColor") }}
                        Delete last property
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>