<h3>New material / process</h3>
<form class="row g-3" action="" method="post" novalidate>
    {{ form.csrf_token }}
    <div class="col-md-6">
        {{ form.material_name.label(class_="control-label", placeholder="Placeholder Text Here") }}
        {{ form.material_name(class_="form-control") }}
    </div>
    <div class="col-md-6">
        {{ form.material_type.label(class_="control-label") }}
        {{ form.material_type(class_="form-control form-select") }}
    </div>

    <div class="accordion accordion-flush" id="accordion-materials-form">
        <div class="accordion-item">
            <h5>Properties</h5>
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    3 - Cost
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
                <div class="accordion-body">
                    <div class="row g-3 align-items-end">
                        <div class="col-md-4">
                            {{ form.co2_footprint.label(class_="control-label") }}
                            {{ form.co2_footprint(class_="form-control") }}
                        </div>
                        <div class="col-md-4">
                            {{ form.costs.label(class_="control-label") }}
                            {{ form.costs(class_="form-control") }}
                        </div>
                        <div class="col-md-4">
                            {{ form.delivery_time.label(class_="control-label") }}
                            {{ form.delivery_time(class_="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'material_type_form.html' %}
    </div>
    <div class="form-group mb-3">
        <div class="col-sm-offset-2 col-sm-12">
            {{ form.submit(class_="btn btn-primary col-12", data_bs_toggle="tooltip", data_bs_placement="bottom",
            title="Select at least a name and a type", disabled=True)
            }}
        </div>
    </div>
</form>