{% from 'action_buttons.html' import create_delete_button -%}
{% from 'action_buttons.html' import create_edit_button -%}

<h3>All {{ materials_response.ctx }}</h3>
<table id="materials_table" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Type</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
        {% for item in materials_response.all_materials %}
        <tr>
            <td>
                <div class="btn-group">
                    {{ create_delete_button("delete_material_button" + "___" + item.uuid, item.type, 12, 12) }}
                    {% if materials_response.ctx != 'blended materials' %}
                    {{ create_edit_button("edit_material_button" + "___" + item.uuid, item.type, 12, 12) }}
                    {% endif %}
                </div>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.all_properties }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>