<div class="row g-3 mb-3 align-items-end" id="{{ 'min-max-properties-'+index+'-row' }}">
    <div class="col-md-6">
        <label class="control-label" for="{{ 'min-max-properties-'+index+'-name' }}">Name</label>
        <input class="form-control" id="{{ 'min-max-properties-'+index+'-name'  }}"
               name="{{ 'min-max-properties-'+index+'-name' }}" disabled type="text" value="">
    </div>
    <div class="col-md-6">
        <label class="control-label" for="{{ 'min-max-properties-'+index+'-min' }}">Min (%)</label>
        <input class="form-control" id="{{ 'min-max-properties-'+index+'-min' }}"
               name="{{ 'min-max-properties-'+index+'-min' }}" type="text" value="">
    </div>
    <div class="col-md-6">
        <label class="control-label" for="{{ 'min-max-properties-'+index+'-max' }}">Max (%)</label>
        <input class="form-control" id="{{ 'min-max-properties-'+index+'-max' }}"
               name="{{ 'min-max-properties-'+index+'-max' }}" type="text" value="">
    </div>
</div>
