{% if not complete %}
<div class="incomplete_blending_warning">
    The chosen configuration is not complete! Check that all properties are specified among all chosen base materials.
    Further, make sure that all additional properties have the same keys and matching data types for a given key.
    If you nevertheless want to continue with the chosen setup, not all blended properties will be inferred.
</div>
{% endif %}
{% for entry in min_max_form.all_min_max_entries %}
<div class="d-none">
    {{ entry.uuid_field(class_="form-control", hidden=True) }}
</div>
<div class="col-md-3">
    {{ entry.blended_material_name.label(class_="control-label") }}
    {{ entry.blended_material_name(class_="form-control", disabled=True) }}
</div>
<div class="col-md-3">
    {{ entry.increment.label(class_="control-label") }}
    {{ entry.increment(class_="form-control") }}
</div>
<div class="col-md-3">
    {{ entry.min.label(class_="control-label") }}
    {{ entry.min(class_="form-control") }}
</div>
<div class="col-md-3">
    {{ entry.max.label(class_="control-label") }}
    {{ entry.max(class_="form-control") }}
</div>
{% endfor %}
<button class="btn btn-success col-12" type="button" id="confirm_blending_configuration_button" data-bs-toggle="tooltip"
    data-bs-placement="bottom" title="Fill in all editable fields" disabled>
    5 - Confirm configuration
</button>