{{ form.hidden_tag() }}
<div class="form-horizontal compositional" >
    <div class="form-group mb-3">
        {{ form.feo.label(class_="control-label col-sm-2") }}
        {{ form.feo(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.sio.label(class_="control-label col-sm-2") }}
        {{ form.sio(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.alo.label(class_="control-label col-sm-2") }}
        {{ form.alo(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.cao.label(class_="control-label col-sm-2") }}
        {{ form.cao(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.mgo.label(class_="control-label col-sm-2") }}
        {{ form.mgo(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.nao.label(class_="control-label col-sm-2") }}
        {{ form.nao(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.alo.label(class_="control-label col-sm-2") }}
        {{ form.alo(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.ko.label(class_="control-label col-sm-2") }}
        {{ form.ko(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.so.label(class_="control-label col-sm-2") }}
        {{ form.so(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.tio.label(class_="control-label col-sm-2") }}
        {{ form.tio(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.sro.label(class_="control-label col-sm-2") }}
        {{ form.sro(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group mb-3">
        {{ form.mno.label(class_="control-label col-sm-2") }}
        {{ form.mno(class_="form-control col-sm-10") }}
    </div>
</div>
