<div class="row g-3 mb-3 align-items-end">
    <h5>Oxide composition</h5>
    <div class="col-md-2">
        {{ form.fe3_o2.label(class_="control-label") }}
        {{ form.fe3_o2(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.si_o2.label(class_="control-label") }}
        {{ form.si_o2(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.al2_o3.label(class_="control-label") }}
        {{ form.al2_o3(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.ca_o.label(class_="control-label") }}
        {{ form.ca_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.mg_o.label(class_="control-label") }}
        {{ form.mg_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.na2_o.label(class_="control-label") }}
        {{ form.na2_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.k2_o.label(class_="control-label") }}
        {{ form.k2_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.s_o3.label(class_="control-label") }}
        {{ form.s_o3(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.p2_o5.label(class_="control-label") }}
        {{ form.p2_o5(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.ti_o2.label(class_="control-label") }}
        {{ form.ti_o2(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.sr_o.label(class_="control-label") }}
        {{ form.sr_o(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.mn2_o3.label(class_="control-label") }}
        {{ form.mn2_o3(class_="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.loi.label(class_="control-label") }}
        {{ form.loi(class_="form-control") }}
    </div>
</div>
<div class="row g-3 mb-3 structural">
    <h5>Structural composition</h5>
    <div class="col-md-6">
        {{ form.fine.label(class_="control-label") }}
        {{ form.fine(class_="form-control") }}
    </div>
</div>