<div class="form-horizontal">
  <div class="form-group mb-3">
    {{ form.duration.label(class_="control-label col-sm-2") }}
    {{ form.duration(class_="form-control col-sm-10") }}
  </div>
  <div class="form-group mb-3">
    {{ form.temperature.label(class_="control-label col-sm-2") }}
    {{ form.temperature(class_="form-control col-sm-10") }}
  </div>
  <div class="form-group mb-3">
    {{ form.relative_humidity.label(class_="control-label col-sm-2") }}
    {{ form.relative_humidity(class_="form-control col-sm-10") }}
  </div>
</div>
