{% macro render_material_type_form(form) -%}
    {% if form.material_type.data == 'Powder' %}
        {% include 'powder_form.html' %}
    {% elif form.material_type.data == 'Liquid' %}
        {% include 'liquid_form.html' %}
    {% elif form.material_type.data == 'Aggregates' %}
        {% include 'aggregates_form.html' %}
    {% elif form.material_type.data == 'Process' %}
        {% include 'process_form.html' %}
    {% elif form.material_type.data == 'Admixture' %}
        {% include 'admixture_form.html' %}
    {% elif form.material_type.data == 'Custom' %}
        {% include 'custom_form.html' %}
    {% else %}
        {% include 'powder_form.html' %}
    {% endif %}
{% endmacro %}
